doctype html
html
  head
    title Whatsie

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
      
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#4cba64')
    meta(name='apple-mobile-web-app-title', content='Whatsie')
    meta(name='application-name', content='Whatsie')
    meta(name='msapplication-TileColor', content='#333333')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#4cba64')
      
    meta(name='description' content='A simple & beautiful desktop client for WhatsApp Web. Chat without distractions on OS X, Windows and Linux.')
    meta(name='keywords' content='whatsapp, web, messenger, chat, conversations, desktop, client')
    meta(name='author' content='aluxian.com')
    meta(name='copyright' content='aluxian.com')
    meta(name='application-name' content='Whatsie')
      
    meta(property='og:title' content='Whatsie')
    meta(property='og:description' content='A simple & beautiful desktop client for WhatsApp Web. Chat without distractions on Windows and Linux.')
    meta(property='og:type' content='website')
    meta(property='og:image' content='https://whatsie.chat/img/preview.png')
    meta(property='og:url' content='https://whatsie.chat')
    meta(property='fb:admins' content='100000476749759')
    meta(property='fb:app_id' content='882107051857027')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:creator' content='@aluxian')
    meta(name='twitter:image' content='https://whatsie.chat/img/preview.png')
      
    link(rel='canonical' href='https://whatsie.chat')
    script.
      if (document.location.host == 'aluxian.github.io') {
        document.location = 'https://whatsie.chat';
      }
      
    // inject:css

  body
    
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=882107051857027';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    section#header
      .container
        a.logo(href='/')
          img(src='img/logo.png' alt='Whatsie Logo')
          
        h1.title Whatsie
        p.subtitle A simple &amp; beautiful desktop client for WhatsApp Web.#[br]Chat without distractions on OS X, Windows and Linux.
        
        a.button.filled(href='#download' data-scroll) Download Now
        span.notice Not an official app. No affiliation with WhatsApp.
    
    section.inverted#platforms
      .container
        h2.title OS X, Windows &amp; Linux
        
      .images.clearfix
        .ss.clearfix.left
          img(src='img/ss_windows.png' alt='Windows Screenshot')
        .ss.clearfix.center
          img(src='img/ss_osx.png' alt='OS X Screenshot')
        .ss.clearfix.right
          img(src='img/ss_linux.png' alt='Linux Screenshot')
        
    section#whatsapp-features
      .container
        h2.title Everything you love about WhatsApp...
          
        ul.container
          li
            .tile
              span(class='wafeature wafeature-1' width='120' height='120')
              p.description Group chats
          li
            .tile
              span(class='wafeature wafeature-2' width='120' height='120')
              p.description Send photos &amp; videos
          li
            .tile
              span(class='wafeature wafeature-3' width='120' height='120')
              p.description Share locations
          
        p.small.notice Images taken from #[a.link(href='https://www.whatsapp.com/' title='whatsapp.com' target='_blank') whatsapp.com].
        a.button.bordered(href='https://www.whatsapp.com/' target='_blank') Explore on whatsapp.com
        
    section.inverted#features
      .container
        h2.title ...now perfectly integrated with your OS
        
        .desktop
          ul.clearfix.row
            li
              .feature
                include ../svg/features/themes.svg
                span Themes &amp;#[br]Mini Mode
            li
              .feature
                include ../svg/features/notifications.svg
                span Native Notifications#[br](with reply on OS X)
            li
              .feature
                include ../svg/features/letter-a.svg
                span Spell Checker &amp;#[br]Auto Correct
          ul.clearfix.row
            li
              .feature
                include ../svg/features/keyboard.svg
                span Keyboard Shortcuts
            li
              .feature
                include ../svg/features/launch.svg
                span Launch on OS startup
            li
              .feature
                include ../svg/features/update.svg
                span Automatic Updates
              
        .mobile
          ul.clearfix.row
            li
              .feature
                include ../svg/features/launch.svg
                span Launch on OS startup
            li
              .feature
                include ../svg/features/notifications.svg
                span Native Notifications#[br](with reply on OS X)
          ul.clearfix.row
            li
              .feature
                include ../svg/features/letter-a.svg
                span Spell Checker &amp;#[br]Auto Correct
            li
              .feature
                include ../svg/features/themes.svg
                span Themes &amp;#[br]Mini Mode
          ul.clearfix.row
            li
              .feature
                include ../svg/features/keyboard.svg
                span Keyboard Shortcuts
            li
              .feature
                include ../svg/features/update.svg
                span Automatic Updates
        
        p.small.notice Icons from #[a.link(href='http://www.flaticon.com' title='Flaticon' target='_blank') Flaticon] licensed under #[a.link(href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0' target='_blank') CC 3.0 BY].
      
    section#download
      .container
        h2.title Download
        
      ul.container
        li: a.button.bordered.no-uppercase(href='https://updates.whatsie.chat/download/darwin/latest')
          span.osx
            include ../svg/apple.svg
            span OS X 10.8+
            
        li: a.button.bordered.no-uppercase(href='https://updates.whatsie.chat/download/win32/latest')
          span
            include ../svg/windows.svg
            span Windows 7+
      
      p Linux:
        
      ul.container
        li: a.button.bordered.no-uppercase(href='https://updates.whatsie.chat/download/linux/latest?pkg=deb&arch=i386')
          span
            include ../svg/debian.svg
            span DEB 32-bit
        
        li: a.button.bordered.no-uppercase(href='https://updates.whatsie.chat/download/linux/latest?pkg=deb&arch=amd64')
          span
            include ../svg/debian.svg
            span DEB 64-bit
      
      ul.container
        li: a.button.bordered.no-uppercase(href='https://updates.whatsie.chat/download/linux/latest?pkg=rpm&arch=i386')
          span
            include ../svg/rpm.svg
            span RPM 32-bit
        
        li: a.button.bordered.no-uppercase(href='https://updates.whatsie.chat/download/linux/latest?pkg=rpm&arch=x86_64')
          span
            include ../svg/rpm.svg
            span RPM 64-bit
            
      p Whatsie works with iOS. Read the #[a.link(href='#faq') FAQ] for other questions.
    
    section.inverted#featured
      .container
        h2.title Featured on
        
        ul
          li
            a(target='_blank' href='https://www.producthunt.com/tech/whatsapp-for-desktop' title='ProductHunt')
              include ../svg/producthunt.svg
          li
            a(target='_blank' href='http://www.chip.de/downloads/Whatsie-WhatsApp-for-Desktop_80389182.html' title='CHIP')
              include ../svg/chip.svg
          li
            a(target='_blank' href='https://news.ycombinator.com/item?id=9757555' title='HackerNews')
              include ../svg/hackernews.svg
              
        p.appear-here Want to appear here? #[a.link(href="mailto:me@aluxian.com") Email me]
      
    section#faq
      .container
        h2.title Frequently Asked Questions
        
        -
          var faq = [
            {
              q: 'Is Whatsie secure?',
              a: 'Using <i>Whatsie</i> is as safe and secure as using the official <a class="link" href="https://web.whatsapp.com/" target="_blank">WhatsApp Web</a> app. In fact, <i>Whatsie</i> itself uses <i>WhatsApp Web</i>, so all your messages and other account data are not handled by my app, but by the official <i>WhatsApp Web</i> client.'
            }, {
              q: 'Does Whatsie work with iPhones?',
              a: 'Yes, it does! <i>WhatsApp</i> solved the compatibility problem with iOS devices in August 2015.'
            }, {
              q: 'How do I install other languages for the spell checker?',
              a: 'On OS X and Windows, you\'re limited by the amount of dictionaries your operating system provides. On Linux, <i>Whatsie</i> uses the dictionaries provided by <a class="link" href="https://hunspell.github.io/" target="_blank">Hunspell</a>. If you want more languages, install <b>hunspell</b> and the <b>hunspell-*</b> package for the language you want (e.g. <b>hunspell-es</b> for Spanish).'
            }, {
              q: 'How does Whatsie work under the hood?',
              a: '<i>Whatsie</i> is a native desktop app built on <a class="link" href="http://electron.atom.io/" target="_blank">Electron</a>. Basically, it\'s a wrapper for <a class="link" href="https://web.whatsapp.com/" target="_blank">WhatsApp Web</a> with additional features such as themes and better integration with your operating system.'
            }, {
              q: 'Why do I see so many <i>Whatsie</i> processes in Task Manager?',
              a: 'That\'s because <i>Whatsie</i> works just like <i>Chrome</i> – it splits itself into several processes, each with their own role. There\'s one process for the app itself, another is in charge with the notifications, another with the menus, there\'s one process for each app window, and so on. This means that the OS can run things in parallel to increase their responsiveness, besides other performance benefits. So it\'s all a good thing!'
            }, {
              q: 'What happened to <i>WhatsApp for Desktop</i>?',
              a: '<i>Whatsie</i> is the successor of <i>WhatsApp for Desktop</i>, which was scrapped and sold for parts (kidding). I built <i>Whatsie</i> from the ground up using <a class="link" href="http://electron.atom.io/" target="_blank">Electron</a>, the more powerful and battery efficient alternative to <i>NW.js</i>, so it\'s now faster and better than the old app.'
            }, {
              q: 'How do I get rid of <i>WhatsApp for Desktop</i>?',
              a: '<b>OS X</b>: Move the app into Trash or use <a class="link" href="https://freemacsoft.net/appcleaner/" target="_blank">AppCleaner</a> which will also delete your preferences, cache and other temporary files.<br><b>Windows</b>: Follow <a class="link" href="https://github.com/Aluxian/WhatsApp-Desktop/wiki/How-to-uninstall-(Windows)" target="_blank">these steps</a>.<br><b>Linux</b>: Use your package manager to remove <i>Whatsie</i>. Also delete this folder: <i>~/.config/whatsappfordesktop</i>.'
            }, {
              q: 'How can I uninstall/remove <i>Whatsie</i>?',
              a: '<b>OS X</b>: Move the app into Trash or use <a class="link" href="https://freemacsoft.net/appcleaner/" target="_blank">AppCleaner</a> which will also delete your preferences, cache and other temporary files.<br><b>Windows (portable)</b>: Just delete the app folder. <i>Whatsie</i> didn\'t create any other files.<br><b>Windows (installer)</b>: Go to <i>Control Panel &gt; Change or remove a program</i>, then select <i>Whatsie</i> and click <i>Uninstall</i>.<br><b>Linux</b>: Use your package manager to remove <i>Whatsie</i>.'
            }, {
              q: 'Will <i>Whatsie</i> eat my battery or RAM?',
              a: 'Literally, no. Virtually, yes, just a bit. However, it\'s much more efficient than the old <i>WhatsApp for Desktop</i>. On my Mac, <i>Whatsie</i> uses around 240MB of RAM and just 3% CPU while idle.'
            }, {
              q: 'Who created Whatsie?',
              a: '<i>Whatsie</i> was created by <a class="link" href="http://www.aluxian.com/" target="_blank">Alexandru Rosianu</a> – a young, awesome developer from Romania. Yes, I do like to compliment myself. <a class="link" href="http://blog.aluxian.com/" target="_blank">Follow my blog!</a>'
            }
          ];
        
        ul
          each item in faq
            .expander
              a.expander-trigger.expander-hidden(href='javascript:void(0)') !{item.q}
              p.expander-content !{item.a}
    
    section.inverted#testimonials
      .container
        h2.title What users are saying
        
        ul.reviews
          li.review
            p.content Your Messenger for Desktop and WhatsApp apps absolutely rock! I was so frustrated trying to find something like this, that I was thinking how to do it in XCode myself (I'm not a programmer at all, haha). Thanks!
            p.author Anonymous
          li.review
            p.content Hey! I love and am using Messenger for Desktop and WhatsApp for Desktop all the time! They are really super useful!
            p.author Lucas
          li.review
            p.content I started using WhatsApp a long time ago and I've looked for a desktop app since then. I used the Web version for a while, but I wanted something that didn't depend on my browser. Whatsie was exactly what I needed.
            p.author A Lovely User
          
        a.button.bordered.typeform-share.link(href='https://aluxian.typeform.com/to/s0wi5P' data-mode='1' target='_blank') Write a review
    
    section#contribute
      .container
        h2.title Contribute
        
        ul.lc
          li: a.button.bordered(href='https://github.com/Aluxian/Whatsie' target='_blank') VIEW ON GITHUB
          li: a.button.bordered(href='https://github.com/Aluxian/Whatsie/issues' target='_blank') ISSUE/REQUEST
          li: a.button.bordered(href='http://www.aluxian.com/#contact' target='_blank') CONTACT DEV
        ul.rc
          li: a.button.bordered(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4YVCUBK2QJKBL' target='_blank') DONATE PAYPAL
          li: a.button.bordered(href='https://www.coinbase.com/Aluxian' target='_blank') DONATE BITCOIN
          li: a.button.bordered(href='https://flattr.com/submit/auto?fid=9r0lvn&url=https%3A%2F%2Fwhatsie.chat' target='_blank') FLATTR
    
    section.inverted#contact
      .container
        h2.title Keep in touch
        
        form(action='//aluxian.us7.list-manage.com/subscribe/post?u=88887250ab1b52820c884a673&amp;id=f58721e7c0' method='post' name='mc-embedded-subscribe-form' target='_blank')
          input.email(type='email' name='EMAIL' placeholder='you@awesome.com' required)
          div(style='position: absolute; left: -5000px;')
            input(type='text' name='b_88887250ab1b52820c884a673_6e7c46127a' tabindex='-1')
          input.submit(type='submit' value='SUBSCRIBE' name='subscribe')
        
        p You’ll receive updates and news about the apps I create. No spam, I promise.
    
    section#share
      .container
        h2.title Spread the love... and WIN!
        
        p.info Let's make this app popular again! The more you share, the greater the chance to earn a prize 🎉
        
        ul.left-side
          li.widget.row1
            .fb-page(data-href='https://www.facebook.com/Whatsie' data-show-facepile='true' data-show-posts='false')
              .fb-xfbml-parse-ignore
                blockquote(cite='https://www.facebook.com/Whatsie')
                  a(href='https://www.facebook.com/Whatsie') Whatsie
              
          li.widget.row2
            a.twitter-share-button(
              href='https://twitter.com/share'
              data-size='large'
              data-url='https://whatsie.chat'
              data-text='Whatsie – Beautiful #WhatsApp Web client for Mac, Windows & Linux by @Aluxian'
              data-related='Aluxian') Tweet
            
            a.github-button(
              href='https://github.com/Aluxian/Whatsie'
              data-style='mega'
              data-count-href='/Aluxian/Whatsie/stargazers'
              data-count-api='/repos/Aluxian/Whatsie#stargazers_count'
              data-count-aria-label='# stargazers on GitHub'
              aria-label='Star Whatsie on GitHub') Star
          
          li.widget.row3
            .fb-send(data-href='https://whatsie.chat/')
            .g-plusone(data-size='medium' data-annotation='inline' data-width='120')
        
        .right-side
          a#rcwidget_ix9az6w9.rcptr(href='http://www.rafflecopter.com/rafl/display/f65bb6940/' rel='nofollow' data-raflid='f65bb6940' data-theme='classic') Rafflecopter giveaway
            script(src='https://widget-prime.rafflecopter.com/launch.js')
    
    .footer-image
    
    footer
      .container
        p.left No affiliation with Facebook or WhatsApp. #[a(href='/terms.html') Terms and Conditions]. #[a(href='/privacy.html') Privacy Policy].
        p.right Coded with &hearts; by #[a(href='http://www.aluxian.com/') Alexandru Rosianu]

    // inject:js

    //- IntroBar
    script var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement('script'), i.type='text/javascript';i.async=1, i.src='//cdn.introbar.com/js/v1.js', e=document.getElementsByTagName('script')[0], e.parentNode.insertBefore(i,e);})();_intro_bar.account_id = '5587c2b264a72';

    //- Twitter
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)
      ?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+
      '://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
      }}(document, 'script', 'twitter-wjs');
    
    //- GitHub
    script#github-bjs(async defer src='https://buttons.github.io/buttons.js')
    
    //- Google+  
    script(async defer src='https://apis.google.com/js/platform.js')
      
    //- Typeform
    script (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
      
    //- HelloBar
    script(async src='//my.hellobar.com/2da5357371cb57f5c51b8ea69c4edf11e819c1dd.js')
      
    //- AddThis
    script(async src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f3e264b364b047d')
    
    //- Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45600261-7', 'auto');
      ga('send', 'pageview');
